.panel > .panel-heading {
    background-image: none;
    background-color: rgb(91, 144, 223);
    color: white;

}

#selDataset { background-color: rgb(91, 144, 223);
    color: white
}

.content-area { background-color: white;

}

body {background-color: black;}