body {
    text-align: center;
    background-color: black;
}



.banner-area {
	
	font-size:200px;
	top: 100px;
	color: rgb(243, 88, 248);
	font-family: bold;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	opacity: .9;
	
	
}

.background{ 
	width: 100%;
	height: 600px;
	position: fixed;
	background-image: url(banner_img.jpg);
	
}


.banner-area .text-wrapper {
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.01em;
	overflow: hidden;
  }

  .banner-area .letter {
	display: inline-block;
	line-height: 1em;
  } 



.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 1500px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}


a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(243, 88, 248);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:white;
}

#navbarDropdown{
    color: white;
}

.navbar-nav > li > .dropdown-menu a{   color: #000000;  }
.navbar-nav > li > .dropdown-menu {     background-color: rgb(44, 191, 196);  }


.nav-item{
    color:white;

}

